# GraphQL Configuration (Required)
GRAPHQL_ENDPOINT=http://localhost:8080/v1/graphql
HASURA_ADMIN_SECRET=amanz55
# URL of the external investor portal (used by the "Go to Investor" button on the landing page)
INVESTOR_PORTAL_URL=<full_path_to_investor_portal>
